/* Thiết lập cơ bản mobile firt, table */
/* I/ Thiết lập cơ bản đầu tiên */
/* 1/ Thiết lập trang website */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 1/ Thiết lập font chữ cho trang */
html {
  font-family: "Inter", sans-serif;
}
/* 2/Tạo khung cho trang web */
.total {
  border: 30px solid #1864ab;
  border-bottom: 0px solid #1864ab;
}
/* 3/ tạo khung cho các Nội dung của trang web */
.goals,
.timeline,
.team,
.scopes,
.primary {
  border-bottom: 30px solid #1864ab;
}
/* 4/ thiết lập căn chỉnh icon */
.icon {
  text-align: center;
  font-size: 30px;
  padding: 20px 0 0 0;
}
/* 5/thiết lập màu, font size, căn chỉnh cho tiêu đề */
.title {
  border-bottom: 2px solid #212529;
  color: #1864ab;
  padding: 10px 0px;
  margin: 0px 30px;
  font-size: 30px;
  font-weight: 500px;
}
/* 6/thiết lập màu, font size, căn chỉnh cho nội dung văn bản */
.content-goals,
.content-team,
.content-timeline,
.content-scopes,
.content-primary {
  font-size: 16px;
  font-weight: 400px;
  line-height: 1.5;
  text-align: justify;
  padding: 0 10px;
  margin: 0 30px;
}
.content-team,
.content-timeline {
  text-align: start;
}
/* 7/ thiết lập căn chỉnh cho phần tử p của mục content-scopes */
.content-scopes1,
.content-scopes2 {
  padding-top: 10px;
}
/*8/tạo đường viền phía dưới cho từng phần tử nội dung của mục team */
.content-goals {
  border-bottom: 1px solid #ced4da;
}
/* 9/tạo đường viền phía dưới cho từng phần tử nội dung của mục primary */
.underline-dashed {
  border-bottom: 1px dashed #ced4da;
}
/* 10/ tạo vòng tròn, căn chỉnh văn bản trong vòng tròn cho phần tử number */
.number {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
  background-color: #4dabf7;
  text-align: center;
  margin-top: 5px;
  color: white;
  border: 2px solid #212529;
  font-size: 16px;
}
/* II/ PHẦN BREAKPOIN CHO DESTOP, LAPTOP */
@media only screen and (min-width: 992px) {
  /* 1/đặt thuộc tính grid cho trang web để tạo 3 cột */
  .total {
    display: grid;
    grid-template-columns: 45% 30% 25%;
  }
  /* 2/ sử dụng grid-area để sắp xếp vị trí của các mục timeline, team */
  .timeline {
    grid-area: 1/3/3/4;
  }
  .team {
    grid-area: 1/2/2/3;
  }
  /* 3/tạo khung cho các mục */
  .team,
  .primary {
    border-left: 30px solid #1864ab;
    border-right: 30px solid #1864ab;
  }
  /* 4/ đặt thuộc tính grid để tạo ra 2 cột cho các mục goal, team, primary,timeline và căn chỉnh văn bản */
  .content-goals,
  .content-team,
  .content-primary,
  .content-timeline {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    padding: 20px 10px 10px 10px;
  }
  /* 5/đặt padding cho thuộc tính icon để tạo cấp bậc */
  .icon {
    padding: 0;
  }
  /* 6/đặt margin cho thuộc tính content để tạo cấp bậc */
  .content {
    margin: 0;
  }
}
